{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {% block nav %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>Thông tin đặt phòng</h1>
        </div>
    </div>
        {{ wtf.generate_form(form=form, action=url_for('booking', room_id=room.id), media=True) }}
    </div>
{% endblock %}
