{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ super() }}
{% endblock %}
{% block head %} {{ super() }}
{% endblock %}
{% block header %}
    {% block nav %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>Thông tin đặt cọc</h1>
        </div>
    </div>
    <div class="row">
        <div class="row">
            <p class="col-6"><strong>Phòng:</strong></p>
            <p class="col-6">{{booking.room.room_name}}</p>
        </div>
        <div class="row">
            <p class="col-6"><strong>Giá cọc:</strong></p>
            <p class="col-6">{{booking.total_price}}</p>
        </div>
        <div class="row">
            <p class="col-6"><strong>Ngày đặt:</strong></p>
            <p class="col-6">{{booking.start_date}}</p>
        </div>
        <div class="row">
            <p class="col-6"><strong>Ngày hết hạn:</strong></p>
            <p class="col-6">{{booking.end_date}}</p>
        </div>
    </div>
        

        <!-- Thêm nút thanh toán PayPal -->
        <h2>Thanh toán</h2>
    <button class="btn btn-primary" onclick="momoPayment('{{url_for('momo_payment')}}?paymentName=Booking%20for%20room%20{{booking.room.room_name}}&totalPrice={{booking.total_price}}');">Thanh toán với MOMO</button>
{% endblock %}
