{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block css %}
    {{ super() }}
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {% block nav %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="container center">
        <h1>Viết bình luận</h1>
        {{ wtf.generate_form(form, action=url_for('comment', post_id=post.id)) }}
    </div>
{% endblock %}
{% block js%}
<script src="{{ url_for('static', filename='js/slider.js')}}"></script>
<script src="https://cdn.tiny.cloud/1/ol5e4ef0h7aymmmmqtk1j2w7y6a3h1oracrrio0kfr3ekawq/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script src="{{url_for('static', filename='js/tinymce_init.js')}}"></script>
{% endblock %}
