{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block title %}
    {{ super() }} - Trang Chủ
{% endblock %}

{% block content %}
<div class="container">
    <h1 class="text-center mb-4">Chỉnh sửa bài viết</h1>
    {{ wtf.generate_form(form=form, action=url_for('edit_post', username=current_user.username, post_id=post.id), media=True) }}
</div>
{% endblock %}

{% block js %}
<script src="https://cdn.tiny.cloud/1/ol5e4ef0h7aymmmmqtk1j2w7y6a3h1oracrrio0kfr3ekawq/tinymce/7/tinymce.min.js" referrerpolicy="origin"></script>
<script src="{{url_for('static', filename='js/tinymce_init.js')}}"></script>
{% endblock %}
