{% extends "base.html" %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {% block nav %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>{{ post.title }}</h1>
            {{ post.content | safe }}
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <h3>Hình ảnh</h2>
            <!-- many images here -->
            <div class="col md-6">
                <div id="carousel" class="carousel slide">
                    <div class="carousel-inner">
                        {% if post.post_images %}
                            {% for post_image in post.post_images %}
                            <div class="carousel-item {% if loop.index == 1 %}active{% endif %}">
                                <img src="{{ post_image.image_path }}" class="d-block w-100" alt="Hình ảnh nhà trọ">
                            </div>
                            {% endfor %}
                        {% else %}
                            <div class="carousel-item active">
                                <img src="https://via.placeholder.com/800x400" class="d-block w-100" alt="Hình ảnh mặc định">
                            </div>
                        {% endif %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row col s6">
            <h3>Thông tin phòng trọ</h3>
            <table>
                <tbody>
                    <tr>
                        <td><strong>INFO 1</strong></td>
                        <td>value 1</td>
                    </tr>
                    <tr>
                        <td><strong>INFO 2</strong></td>
                        <td>value 2</td>
                    </tr>
                    <tr>
                        <td><strong>INFO 3</strong></td>
                        <td>value 3</td>
                    </tr>
                </tbody>
            </table>
            <div class="row col s12">
                <a class="btn">Đặt phòng</a>
            </div>
        </div>
        <div class="col s6">
            <h3>Bình luận</h3>
            <!-- comment section here  -->
            <a class="btn" href="{{ url_for('comment', post_id=post.id) }}">Viết bình luận</a>
        </div>
    </div>
{% endblock %}
