{% extends "base.html" %}
{% import "material_wtf.html" as wtf %}

{% block css %}
    {{ super() }}
{% endblock %}

{% block title %}
    {{ super() }}
{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block header %}
    {% block nav %}
        {{ super() }}
    {% endblock %}
{% endblock %}

{% block content %}
    <div class="container center">
        <h1>Đăng ký</h1>
        {{ wtf.generate_form(form, action=url_for('register')) }}
        <a href="{{ url_for('login') }}">Đăng nhập</a>
    </div>
{% endblock %}
